In [148]:
from sklearn.model_selection import train_test_split 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = pd.read_csv(r'E:\College\train.csv')
test = pd.read_csv(r'E:\College\test.csv')
df = pd.DataFrame(train)
X = df.iloc[ : , :-1 ]
Y = df.iloc[ : , -1 ]

#X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 1/4, random_state = 0)

In [152]:
Y

0      21.549452
1      47.464463
2      17.218656
3      36.586398
4      87.288984
         ...
695    58.595006
696    94.625094
697    88.603770
698    63.648685
699    94.975266
Name: y, Length: 700, dtype: float64

In [92]:
from sklearn import preprocessing
X.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region'], dtype='object')

In [131]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  northwest  16884.92400
1      18    male  33.770         1     no  southwest   1725.55230
2      28    male  33.000         3     no  northwest   4449.46200
3      33    male  22.705         0     no  southwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  southeast  10600.54830
1334   18  female  31.920         0     no  southwest   2205.98080
1335   18  female  36.850         0     no  northwest   1629.83350
1336   21  female  25.800         0     no  southeast   2007.94500
1337   61  female  29.070         0    yes  southwest  29141.36030

[1338 rows x 7 columns]

In [93]:
le = preprocessing.LabelEncoder()

X_2 = X.apply(le.fit_transform)
X_2

      age  sex  bmi  children  smoker  region
0       1    0  197         0       1       3
1       0    1  350         1       0       2
2      10    1  331         3       0       2
3      15    1   73         0       0       1
4      14    1  223         0       0       1
...   ...  ...  ...       ...     ...     ...
1333   32    1  276         3       0       1
1334    0    0  302         0       0       0
1335    0    0  422         0       0       2
1336    3    0  146         0       0       3
1337   43    0  229         0       1       1

[1338 rows x 6 columns]

In [101]:
X['sex'] = X['sex'].replace({'female': 1, 'male': 0})
X['smoker'] = X['smoker'].replace({'yes': 1, 'no': 0})

In [67]:
X = X.iloc[:, :-1]

In [102]:
X['region'] = X['region'].replace({'southwest': 1, 'southeast': 2, 'northwest': 3, 'northeast': 4})

In [103]:
X = X.astype(float)

In [104]:
Y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [153]:
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 1/4, random_state = 0)

In [158]:
X_train = X_train.fillna(method='ffill')
Y_train = Y_train.fillna(method='ffill')
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor = regressor.fit(X_train, Y_train)

In [159]:
Y_pred = regressor.predict(X_test)

In [160]:
Y_pred

array([50.50461466, 49.61873062, 50.75376955, 50.14472427, 49.92325326,
       49.23115636, 51.14134382, 49.12042085, 49.86788551, 49.70178225,
       48.84358209, 50.61535017, 50.72608567, 48.78821434, 49.12042085,
       50.14472427, 50.03398877, 50.39387916, 50.1170404 , 50.1170404 ,
       49.23115636, 48.81589821, 51.08597606, 49.45262737, 48.73284658,
       49.36957574, 49.95093714, 48.56674333, 48.73284658, 49.81251776,
       48.64979495, 50.2277759 , 48.95431759, 49.56336287, 50.03398877,
       48.62211108, 49.75715   , 50.36619528, 51.16902769, 49.84020163,
       49.86788551, 48.98200147, 49.1757886 , 48.70516271, 50.44924691,
       49.14810473, 48.95431759, 48.64979495, 49.03736922, 49.12042085,
       51.00292443, 50.03398877, 49.0650531 , 50.44924691, 49.75715   ,
       49.31420798, 51.14134382, 49.14810473, 49.12042085, 49.78483388,
       49.45262737, 49.97862101, 48.70516271, 50.91987281, 50.78145342,
       49.53567899, 49.25884023, 50.83682118, 49.14810473, 48.64979495,
       50.28314365, 48.87126596, 48.76053046, 50.75376955, 50.67071792,
       49.86788551, 50.39387916, 49.61873062, 50.89218893, 48.84358209,
       49.72946613, 49.48031124, 50.86450505, 50.8091373 , 50.17240815,
       50.58766629, 48.62211108, 49.48031124, 49.28652411, 50.47693079,
       49.84020163, 50.42156303, 48.67747883, 50.83682118, 48.62211108,
       49.84020163, 48.95431759, 50.8091373 , 49.56336287, 49.23115636,
       50.50461466, 51.19671157, 48.62211108, 48.95431759, 48.56674333,
       51.14134382, 50.78145342, 50.72608567, 50.50461466, 50.28314365,
       50.55998241, 49.00968535, 48.67747883, 49.14810473, 51.03060831,
       50.89218893, 49.92325326, 49.20347248, 50.89218893, 49.59104675,
       50.89218893, 50.6984018 , 50.44924691, 49.23115636, 50.17240815,
       49.36957574, 48.67747883, 49.34189186, 50.50461466, 49.81251776,
       48.81589821, 50.44924691, 49.72946613, 50.47693079, 50.31082753,
       50.06167264, 50.36619528, 51.11365994, 51.14134382, 51.05829219,
       48.95431759, 48.56674333, 49.00968535, 49.70178225, 49.59104675,
       49.12042085, 49.97862101, 50.2277759 , 49.95093714, 48.51137557,
       48.87126596, 48.64979495, 50.83682118, 49.81251776, 51.14134382,
       51.00292443, 48.98200147, 49.81251776, 48.53905945, 49.39725961,
       49.81251776, 49.50799512, 50.53229854, 48.78821434, 51.08597606,
       48.53905945, 49.75715   , 50.64303404, 49.1757886 , 49.78483388,
       51.00292443, 49.23115636, 48.67747883, 51.00292443, 50.42156303])

In [162]:
from sklearn import metrics
print(np.sqrt(metrics.mean_squared_error(Y_test, Y_pred)))

28.647643631679095

In [161]:
regressor.score(X_train, Y_train)

0.021798735702516003

In [129]:
np.random.seed(123456)

# assign roughly one third of observations to each group
nums = np.random.rand(len(df))
mask_southwest = nums > 0.6
mask_northwest = nums < 0.4
mask_southeast = (nums > 0.4) & (nums < 0.6)
df['region'] = 'northeast'
# Series.loc is a purely label-location based indexer for selection by label
df.loc[mask_southwest, 'region'] = 'southwest'
df.loc[mask_northwest, 'region'] = 'northwest'
df.loc[mask_southeast, 'region'] = 'southeast'
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  northwest  16884.92400
1   18    male  33.770         1     no  southwest   1725.55230
2   28    male  33.000         3     no  northwest   4449.46200
3   33    male  22.705         0     no  southwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [130]:
pd.get_dummies(df.region, prefix='region').head()

   region_northwest  region_southeast  region_southwest
0                 1                 0                 0
1                 0                 0                 1
2                 1                 0                 0
3                 0                 0                 1
4                 1                 0                 0